<div class="list-group">
  <% contacts.each do |contact| %>
    <%= link_to contact.full_name,
      contact,
      class: "list-group-item list-group-item-action",
      data: { turbo_frame: :contact_details, turbo_action: :advance } %>
  <% end %>
</div>
